@import '../../styles/index.scss';

.key-features-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: $gutter;
    position: absolute;
    top: 40px;
    padding: 0 $gutter;
  }

  &__title {
    color: $terciary-600;
    text-align: center;
    font-size: 24px;
  }

  &__separator {
    width: 100px;
    height: 1px;
    background: rgba(224, 224, 224, 0.2);
  }

  &__text {
    color: $terciary-500;
    font-size: 14px;
    text-align: center;
  }
}
