@import '../../styles/index.scss';

.button {
  background: $primary-500;
  padding: 10px 48px;
  width: fit-content;
  border: none;

  color: $secondary-500;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1em;
  transition: 0.3s;

  &:hover {
    cursor: pointer;
    background: $primary-600;
    transition: 0.3s;
  }
}

@media (max-width: $lg) {
  .button {
    font-size: 14px;
    transition: 0.3s;
  }
}
