$primary-600: #ffcb52;
$primary-500: #eab334;
$primary-400: #d19919;

$secondary-600: #101321;
$secondary-500: #030408;
$secondary-400: #000000;

$terciary-600: #ffffff;
$terciary-500: #f1f0f3;
$terciary-400: #c9c1d9;

$quaternary-600: #bbcfa3;
$quaternary-500: #9bb47c;
